body{
background:url("background.jpg");
background-size:95%;  
border-style:solid;
border-radius:25px;
padding:10px;
border-width:10px;  
height:1453px;
border-color:blue;
background-size:cover;
}
.note{
color:red;  
font-size:20px;  
}
#head{
color:blueviolet;
font-size:40px;    
text-decoration:underline;
}
.div_speed{
float:left;
}
.div_speed_img{
width:200px;
border-radius:100px;    
}
.div_volume_img{
width:200px;
border-radius:100px;    
}
.div_volume{
float:right;
}
#top{
background-color:yellow;
border-radius:25px;
}
.Copyright-footer{
position:fixed;
color:lightgreen;
width:100%;
background-color:lightcoral;
line-height:3;
border-style:solid;
text-align:center;
bottom:0;
border-radius:100px;
width:1497.7px;
}
.play_button{
height:50px;  
background:url("play.png"); 
width:50px; 
background-position:center;
background-size:cover;
border-radius:1000px;
} 
.stop_button{
height:50px;  
background:url("stop.png"); 
width:50px; 
background-position:center;
background-size:cover;
border-radius:1000px;
}
#Seeli_Seeli{
height:300px;
}
#Dil{
height:300px;
}
.Yara_Seeli_Seeli{
border-style:solid;
padding:50px;
border-radius:100px;
width:fit-content;    
}
.Dil_Hai{
border-style:solid;
padding:50px;
border-radius:100px;
width:fit-content;    
}